/* root */
:root {

  /* text color */
  --primary-text-color: #FFFFFF;
  --secondary-text-color: #9C9C9D;
  --tertiary-text-color: #2F3031;
  --quaternary-text-color: #6A6B6C;
  --fifth-text-color: #C2C7CA;
  --sixth-text-color: #9B9B9B;
  --seventh-text-color: #676869;

  /* font-family */
  --primary-font-family: 'Inter', sans-serif;

  /* font-weight */
  --primary-font-weight: 300;
  --secondary-font-weight: 400;
  --tertiary-font-weight: 500;
  --quaternary-font-weight: 600;
  --fifth-font-weight: 700;

  /* border-color */
  --primary-border-color: #434345;

  /* btn-color */
  --primary-btn-color: #E6E6E6;
  --secondary-btn-color: #FFFFFF;

  /* sticker-color-text */
  --primary-sticker-text-color: #6176FF;
  --secondary-sticker-text-color: #61FF79;
  --tertiary-sticker-text-color: #FF61E2;
  --quaternary-sticker-text-color: #FFF261;
  --fifth-sticker-text-color: #61E2FF;

  /* sticker-color */
  --primary-sticker-color: #15192f;
  --secondary-sticker-color: #152d1b;
  --tertiary-sticker-color: #2c162b;
  --quaternary-sticker-color: #2c2b18;
  --fifth-sticker-color: #15292f;

  /* background-color */
  --primary-background-color: #07080A;
  --secondary-background-color: #282828;
  --tertiary-background-color: #FFFFFF;

  }